<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello, ' + ${name} + '!'"></title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<h2 class="hello-title" th:text="'Hello, ' + ${name} + '!'"></h2>
<form method="POST" th:action="@{/posts/new}" th:object="${post}">
    Title: <input type="text" th:field="*{title}" />
    <input type="submit" value="Submit" />
</form>
<hr />
<div th:each="p : ${posts}">
   <td>
   <p><span th:text="${p.getTitle()}"></span></p>
   </td>
</div>
<script src="/js/main.js"></script>
</body>
</html>